.font-clash {
  font-family: 'Clash Grotesk', sans-serif;
}

.bg-about {
  background: linear-gradient(107.33deg, #142D8E -2.93%, #0182AA 101.45%);
  box-shadow: 0px 66px 175px -58px #0182AA;
  border-radius: 69px;
}

.anim {
  width: 100%;
  height: 95vh;
  position: absolute;
  z-index: -1;
}

.bg-gradient {
  background: linear-gradient(153.06deg, #13B8BA -0.31%, #6A0A6B 99.69%);
}

.bg-blue-100 {
  background: linear-gradient(0deg, rgba(8, 12, 26, 0.6), rgba(8, 12, 26, 0.6)), #0C1426;
}

.bg-blue-50 {
  background: linear-gradient(180deg, rgba(19, 25, 33, 0) 70.35%, #060E11 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.border-gradient {
  border-image-source: linear-gradient(153.06deg, #13B8BA -0.31%, #6A0A6B 99.69%);
  border-image-slice: 1;
  border-radius: 20px;
  border-width: 2px;
  box-sizing: initial;
  background-origin: border-box;
}

.transform {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-top {
  background-image: url(../src/assets/bg-top.png);
  background-position: center;
  background-repeat: no-repeat;
}

line {
  /* stroke: linear-gradient(270deg, #0182AA 0%, #20F8FD 100%); */
  stroke: #20F8FD;
  stroke-dasharray: 12;
}

.svg {
  fill: #333;
  stroke-width: 5px;
  margin-top: 90px;
  z-index: -20;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: line 12s linear infinite;
}

@keyframes line {
  from {
    stroke-dashoffset: 550;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 768px) {

  .anim {
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: -1;
  }

}