.font-clash {
  font-family: 'Clash Grotesk', sans-serif;
}

.bg-about {
  background: linear-gradient(107.33deg, #142D8E -2.93%, #0182AA 101.45%);
  box-shadow: 0px 66px 175px -58px #0182AA;
  border-radius: 69px;
}

.anim {
  width: 100%;
  height: 95vh;
  position: absolute;
  z-index: -1;
}

.bg-line {
  background-image: url(../src/assets/bg-line.png);
  background-position: top;
  background-repeat: no-repeat;
}

.btn-shadow {
  box-shadow: 0px 17px 41px -2px rgba(13, 41, 134, 0.69);
}

@media only screen and (max-width: 768px) {
  
.anim {
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: -1;
}

}